.footer{
    background: $oscuro;
    color:$espacios;
    padding-top: 1rem;
}

.data{
    display: grid;
    grid-gap: .5rem 3rem;
    grid-template-columns: repeat(3,1fr);
}

.title_link,.title_conect,.title_subs{
    padding-bottom: .5rem;
    h3{
        display: inline-block;
    }

    span{
        font-size: 1.5rem;
    }
}

.links{
    .content_link{
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(5,auto);

        a{
            font-size: .8rem;
            padding: .4rem  0;
            border-bottom:1px dotted $gris;
            color:$gris;
        }
    }

}

.conect{
    .content_conect{
        p{
            font-size: .8rem;
            line-height: 1.2rem;
            color:$gris;
            padding-bottom: 1.5rem;
        }

        a{
            color:$oscuro;
            background: $gris;
            padding:.2rem;
            margin-right: .4rem;
            font-size: 1.7rem;

            border-radius:7px;
        }

    }
}
