.header{
    background: $oscuro;
    color:#fff;
    padding: .5rem 0;

    .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }

    h2{
        font-size:2rem;
    }
}

.menu ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    li{
        text-align: center;
    }
}

.menu a{
    color:#fff;
    font-size: .7rem;
    font-weight: 400;
    display: inline-block;
    transition:all .3s ease;
    &:hover{
        font-weight: 700;
    }
}