.principal{
    background: $principal;
    color:#fff;
    padding: 3rem 0;
}

.principal h1{
    text-align: center;
    margin-bottom: .5rem;
}

.principal p{
    text-align: center;
    font-size: 1rem;
    color:#fff;
    opacity: .8;
    line-height: 2rem;
}

.botones_inicio{
    text-align: center;
}