.proyectos{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);

    h2{
        text-align: center;
        grid-column: span 3;
        font-size: 1rem;
        padding: 1.5rem 0;
    }

    .cont_img{
        background: $espacios;
        height: 150px;
        border:1px solid darken($espacios, 10%);

        color:$gris;
        font-weight: 700;
        font-size: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

