@media(max-width:992px){
    .contenedor{
        width:90%;
        //border:$border;
    }

    .love{
        h2{
            margin-right: 1rem;
            font-size: 2rem;
        }

       /* a{
            font-size: .7rem;
        }*/
    }

    .links{
        .content_link{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .conect{
        .content_conect{
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(3,auto);

            p{
                grid-column: span 4;

            }

            a{
                margin-right:initial;
                text-align: center;
                width: 50px;
            }
        }
    }

    .subs{
        .content_subs{

            form{
                input.mail{
                    border:none;
                    padding:.4rem .5rem;
                    border-radius:3px;
                    width:100%;
                    margin-bottom: .5rem;
                }
    
            }
        }
    }
}