@media(max-width:992px){
    .contenedor{
        width:90%;
        //border:$border;
    }

    .love{
        h2{
            margin-right: 1rem;
            font-size: 2rem;
        }

       /* a{
            font-size: .7rem;
        }*/
    }

    .links{
        .content_link{
            grid-template-columns: repeat(2,1fr);
        }
    }

    .conect{
        .content_conect{
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(3,auto);

            p{
                grid-column: span 4;

            }

            a{
                margin-right:initial;
                text-align: center;
                width: 50px;
            }
        }
    }

    .subs{
        .content_subs{

            form{
                input.mail{
                    border:none;
                    padding:.4rem .5rem;
                    border-radius:3px;
                    width:100%;
                    margin-bottom: .5rem;
                }
    
            }
        }
    }
}

@media (max-width:825px){
    .contenedor{
        width:95%;
    }

    .acciones{
        article{
            span{
                font-size: 2.5rem;
            }

            p{
                font-size: .8rem;
            }

            a{
                font-size: .9rem;
            }
        }
    }

    .data{
        grid-gap: .5rem 2rem;
        padding-bottom: 2rem;

    }

    .conect{
        .content_conect{
            a{
                font-size: 1.3rem;
            }
        }
    
    }

}

@media (max-width:700px){
    .principal h1{
        font-size: 2rem;
    }

    .principal p{
        font-size: .9rem;
    }

    .acciones{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);

        h2{
            grid-column: span 2;
        }
    }

    .proyectos{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);

        h2{
            grid-column: span 2;
        }
    }

    .love{
        h2{
            font-size: 1.5rem;
        }
    }

    .links{
        .content_link{
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: repeat(1,auto);

        }
    
    }
}

@media(max-width:500px){
    .header{
        .menu_icon{
            display: inline-block;
            font-size: 1.3rem;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .menu{
        position: absolute;
        top:50px;
        left: 0;
        display: none;
        width: 100%;
        background: $oscuro;
        z-index: 1000;
    }

    .menu ul{
        display: initial;

        li{
            text-align: left;
        }
    }

    .menu a{
        display: inline-block;
        width: 100%;
        padding: .5rem ;

        &:hover{
            background: lighten($oscuro, 10%);
        }
    }

    .principal h1{
        font-size: 1.7rem;
    }

    .principal p{
        font-size: .8rem;
    }

    .acciones{
        display: grid;
        grid-template-columns: 1fr;

        h2{
            text-align: center;
            font-size: 1rem;
            padding: 1.5rem 0;
            grid-column:span 1;
        }

        article{
            padding: .5rem 2.5rem;

            p{
                line-height: 1.5rem;
            }
        }
    }

    .proyectos{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
       
        padding:.5rem 2.5rem  3rem 2.5rem;
    
        h2{
            text-align: center;
            grid-column: span 1;
            font-size: 1rem;
            padding: 1.5rem 0;
        }
    }

    .love{
        flex-wrap: wrap;
    }
}