/******************COLORES, FUENTES*******************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$principal:#13a89e;
$oscuro:#333333;
$gris:#868686;
$espacios:#cccccc;
$fuente:'Roboto', sans-serif;
$border:1px solid red;


/******************ESTILOS GENERALES*******************/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fff;
    color:$oscuro;
    font-family: $fuente;
}

.contenedor{
    width: 80%;
    max-width: 1000px;
    margin:0rem auto;
}

 ul li{
     list-style: none;
 }

 a{
     text-decoration: none;
 }

.boton_blanco,.boton_negro{
    text-align: center;
    font-size: .8rem;
    padding: .4rem .8rem;
    border-radius: 3px;
    color:$gris;
}

.boton_blanco{
    background: linear-gradient(#fff,#ccc);
    &:hover{
        background: linear-gradient(rgb(235, 234, 234),rgb(170, 170, 170));
    }
}

.boton_negro{
    background: linear-gradient(rgb(94, 93, 93),#000);
    &:hover{
        background: linear-gradient(rgb(78, 78, 78),#000)
    }
}


/******************HEADER*******************/
@import 'header.scss';

/******************ANUNCIO*******************/
@import 'prin.scss';

/******************MAIN*******************/
@import 'main.scss';
@import 'proyecto.scss';
@import 'love.scss';

/******************FOOTER*******************/
@import 'footer.scss';