/******************COLORES, FUENTES*******************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/******************ESTILOS GENERALES*******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333333;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  width: 80%;
  max-width: 1000px;
  margin: 0rem auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.boton_blanco, .boton_negro {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  color: #868686;
}

.boton_blanco {
  background: linear-gradient(#fff, #ccc);
}
.boton_blanco:hover {
  background: linear-gradient(#ebeaea, #aaaaaa);
}

.boton_negro {
  background: linear-gradient(#5e5d5d, #000);
}
.boton_negro:hover {
  background: linear-gradient(#4e4e4e, #000);
}

/******************HEADER*******************/
.header {
  background: #333333;
  color: #fff;
  padding: 0.5rem 0;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 2rem;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.menu ul li {
  text-align: center;
}

.menu a {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  display: inline-block;
  transition: all 0.3s ease;
}
.menu a:hover {
  font-weight: 700;
}

/******************ANUNCIO*******************/
.principal {
  background: #13a89e;
  color: #fff;
  padding: 4rem 0 5rem 0;
}

.principal h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.principal p {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  opacity: 0.8;
  line-height: 2rem;
}

.botones_inicio {
  text-align: center;
  padding-top: 0.5rem;
}

/******************MAIN*******************/
.acciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-bottom: 3rem;
}
.acciones h2 {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
  grid-column: span 4;
}
.acciones article {
  padding: 0.5rem 0;
  text-align: center;
}
.acciones article span, .acciones article h3 {
  padding: 0.3rem 0;
}
.acciones article span {
  font-size: 3rem;
}
.acciones article p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.acciones article a {
  color: #13a89e;
}
.acciones article a:hover {
  -webkit-text-decoration: underline #13a89e;
          text-decoration: underline #13a89e;
}